<div class="container1">
    <mat-icon class="bookmark">bookmark</mat-icon>
    <p class="heading">Active Courses</p>
</div>
<hr>

<div class="container">
    <div class="components" id="first">
        <mat-icon style="fill:none" >html</mat-icon>
        <p>HTML</p>
          <h5>Active batches <span>:6 </span></h5>
          <h5>Timing <span> : 10 AM</span></h5>
    </div>

    <div class="components" id="second">
        <mat-icon>css</mat-icon>
       <p> CSS</p>
       <h5>Active batches <span> : 4</span></h5>
       <h5>Timing <span> : 12 AM</span></h5>
    </div>

    <div class="components" id="third">
        <mat-icon>javascript</mat-icon>
        <p>JAVASCRIPT</p>
        <h5>Active batches <span>: 1</span></h5>
          <h5>Timing  <span> : 2:00 PM</span></h5>
    </div>

    <div class="components" id="fourth">
        <mat-icon style="fill:none">code</mat-icon>
     <p>PYTHON</p>    
     <h5>Active batches <span> : 8</span></h5>
     <h5>Timing  <span> : 1 PM</span></h5>
    </div>

    <div class="components" id="nine">
        <mat-icon style="fill:none">code</mat-icon>
     <p>Spring boot</p>    
     <h5>Active batches <span> : 5</span></h5>
     <h5>Timing  <span> : 3 PM</span></h5>
    </div>

    <div class="components" id="ten">
        <mat-icon>PHP</mat-icon>
        <p>php</p>
        <h5>Active batches <span>: 3</span></h5>
          <h5>Timing  <span> : 6 PM</span></h5>
    </div>

    <div class="components" id="eleven">
        <mat-icon>English</mat-icon>
        <p>English</p>
        <h5>Active batches <span>: 2</span></h5>
          <h5>Timing  <span> : 5 PM</span></h5>
    </div>

    <div class="components" id="twelve">
        <mat-icon>C++</mat-icon>
       <p> CSS</p>
       <h5>Active batches <span> : 4</span></h5>
       <h5>Timing <span> : 11 PM</span></h5>
    </div>

    <div class="components" id="fifth">
        <mat-icon style="fill:none" >html</mat-icon>
        <p>Java</p>
          <h5>Active batches <span>: 6</span></h5>
          <h5>Timing <span> : 7 PM</span></h5>
    </div>

    <div class="components" id="sixth">
        <mat-icon style="fill:none">code</mat-icon>
     <p>Go</p>    
     <h5>Active batches <span> : 2</span></h5>
     <h5>Timing  <span> : 8 AM</span></h5>
    </div>

    <div class="components" id="seven">
        <mat-icon style="fill:none">code</mat-icon>
     <p>Angular</p>    
     <h5>Active batches <span> : 5</span></h5>
     <h5>Timing  <span> : 4 PM</span></h5>
    </div>

    <div class="components" id="eight">
        <mat-icon style="fill:none">code</mat-icon>
     <p>Node js</p>    
     <h5>Active batches <span> : 3</span></h5>
     <h5>Timing  <span> : 8 PM</span></h5>
    </div>

</div>

