<app-search-bar></app-search-bar>

<div class="container">
    <div class="components" id="first">
        <mat-icon style="fill:none" >school</mat-icon>
        <p>Students</p>
        <h2>243</h2>
    </div>

    <div class="components" id="second">
        <mat-icon>bookmark</mat-icon>
       <p> Courses</p>
       <h2>13</h2>
    </div>

    <div class="components" id="third">
        <mat-icon>payment</mat-icon>
        <p>Payments</p>
        <h2><span>INR</span> 556,000</h2>
    </div>

    <div class="components" id="fourth">
        <mat-icon style="fill:none">person</mat-icon>
     <p>Instructors</p>    
     <h2>18</h2>
    </div>
</div>

