<app-search-bar></app-search-bar>

<div class="container">
 
  <mat-icon class="wallet">payment</mat-icon>
  <p>Payment Details</p>

</div>
<hr>

<table>
  <tr>
    <th>Index</th>
    <th>Name</th>
    <th>Payment Schedule</th>
    <th>Bill Number</th>
    <th>Amount Paid</th>
    <th>Balance Amount</th>
    <th>Date</th>
  </tr>

  <tr>
    <td>1</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>2</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>3</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>4</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>5</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>6</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>7</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>8</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>9</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>10</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>

  <tr>
    <td>11</td>
    <td>John Doe</td>
    <td>First half</td>
    <td>123456</td>
    <td>INR 26,000</td>
    <td>INR 20,000</td>
    <td>26 August,2021</td>
    <td><mat-icon class="eye">remove_red_eye</mat-icon></td>
  </tr>
</table>



